<!--@using AwesomeCare.Admin.ViewModels.CarePlan;
@model CreateCarePlan
@{ ViewData["Title"] = "Create CarePlan"; }
@section HeaderScripts{
    <link rel="stylesheet" href="../../../assets/vendor/jquery-steps/jquery.steps.css">
    <link rel="stylesheet" href="../../../assets/vendor/dropify/css/dropify.min.css">

}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="header">
                <h2></h2>
            </div>
            <div class="body">
                <form asp-route="CarePlan" method="post" enctype="multipart/form-data">
                    <h4>Person Centredness</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">-->
                            @*<input type="hidden" asp-for="PersonCentredId" />
                            <input type="hidden" asp-for="ClientId" />
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Class</label>
                                    <baserecord asp-key="Class" asp-for="Class" asp-items="null" />
                                    <span asp-validation-for="Class" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Focus</label>
                                    <select asp-for="Focus" asp-items="@Model.FocusList" class="selectpicker form-control" data-live-search="true" multiple></select>
                                    <span asp-validation-for="Focus" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Expected Support</label>
                                    <input type="text" asp-for="ExpSupport" class="form-control" />
                                    <span asp-validation-for="ExpSupport" class="text-danger"></span>
                                </div>*@
                            <!--</div>
                        </div>
                    </div>

                    <h4>Capacity</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="hidden" asp-for="CapacityId" />
                            <input type="hidden" asp-for="ClientId" />
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Pointer</label>
                                    <baserecord asp-key="Capacity_Pointer" asp-for="Pointer" asp-items="null" />
                                    <span asp-validation-for="Pointer" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Implications</label>
                                    <baserecord asp-key="Capacity_Implications" asp-for="Implications" asp-items="null" />
                                    <span asp-validation-for="Implications" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Indicators</label>
                                    <select asp-for="Indicator" asp-items="@Model.IndicatorList" class="selectpicker form-control" data-live-search="true" multiple></select>
                                    <span asp-validation-for="Indicator" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Personal</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="hidden" asp-for="PersonalId" />
                            <input type="hidden" asp-for="ClientId" />
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Smoking</label>
                                    <baserecord asp-key="Smoking" asp-for="Smoking" asp-items="null" />
                                    <span asp-validation-for="Smoking" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">DNR in Place</label>
                                    <baserecord asp-key="DNR" asp-for="DNR" asp-items="null" />
                                    <span asp-validation-for="DNR" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Review</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="hidden" asp-for="ReviewId" />
                            <input type="hidden" asp-for="ClientId" />
                            <div class="row">
                                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                    <label class="control-label">CarePlan Prepared Date</label>
                                    <input type="text" asp-for="CP_PreDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="CP_PreDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                    <label class="control-label">CarePlan Review Date</label>
                                    <input type="text" asp-for="CP_ReviewDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="CP_ReviewDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                    <label class="control-label">Risk Assessment Prepared Date</label>
                                    <input type="text" asp-for="RA_PreDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="RA_PreDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                    <label class="control-label">Risk Assessment Review Date</label>
                                    <input type="text" asp-for="RA_ReviewDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="RA_ReviewDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Key Indicators</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="hidden" asp-for="KeyId" />
                            <input type="hidden" asp-for="ClientId" />
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Living Status</label>
                                    <baserecord asp-key="LivingStatus" asp-for="LivingStatus" asp-items="null" />
                                    <span asp-validation-for="LivingStatus" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Debture</label>
                                    <baserecord asp-key="Debture" asp-for="Debture" asp-items="null" />
                                    <span asp-validation-for="Debture" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Method of Log</label>
                                    <baserecord asp-key="LogMethod" asp-for="LogMethod" asp-items="null" />
                                    <span asp-validation-for="LogMethod" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <label class="control-label">About Me</label>
                                    <textarea type="text" asp-for="AboutMe" class="form-control"></textarea>
                                    <span asp-validation-for="AboutMe" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <label class="control-label">Things I Like To Talk About</label>
                                    <textarea type="text" asp-for="ThingsILike" class="form-control"></textarea>
                                    <span asp-validation-for="ThingsILike" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <label class="control-label">Role Of My Family</label>
                                    <textarea type="text" asp-for="FamilyRole" class="form-control"></textarea>
                                    <span asp-validation-for="FamilyRole" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Equipment</h4>-->
                    @*<div class="row">
                        <table class="table table-hover table-bordered" id="tblEquipment">
                            <thead>
                                <tr>
                                    <th>Service Date</th>
                                    <th>Next Service Date</th>
                                    <th>Equipment Status</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Location</th>
                                    <th>Person To Act</th>
                                    <th>Status Attachment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" asp-for="ServiceDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" /></td>
                                    <td><input type="text" asp-for="NextServiceDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" /></td>
                                    <td><baserecord asp-key="Equipment_Status" asp-for="Status" asp-items="null" /></td>
                                    <td><baserecord asp-key="Equipment_Name" asp-for="Name" asp-items="null" /></td>
                                    <td><baserecord asp-key="Equipment_Type" asp-for="Type" asp-items="null" /></td>
                                    <td><baserecord asp-key="Equipment_Location" asp-for="Location" asp-items="null" /></td>
                                    <td><select class="custom-select" asp-for="PersonToAct" asp-items="Model.StaffList"></select></td>
                                    <td><input type="file" asp-for="Attach" class="dropify" data-allowed-file-extensions="png jpg jpeg"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>*@

                    <!--<h4>Consent For Landline</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="hidden" asp-for="LandLineId" />
                            <input type="hidden" asp-for="ClientId" />
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <h6 style="text-align:justify;">I hereby give my consent that Awesome Healthcare Solutions can use my landline for the purpose of staff login and out where applicable, to monitor and track compliance of staff. The use of the landline will be for the sole purpose of staff logs.</h6><br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Date</label>
                                    <input type="text" asp-for="LandLineDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="LandLineDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Signature</label>
                                    <baserecord asp-key="Signature" asp-for="LandLineSignature" asp-items="null" />
                                    <span asp-validation-for="LandLineSignature" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Method of Log</label><br />
                                    <baserecord asp-key="LogMethod" asp-for="LandLineLogMethod" asp-items="null" />
                                    <span asp-validation-for="LandLineLogMethod" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Consent For Care</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="hidden" asp-for="CareId" />
                            <input type="hidden" asp-for="ClientId" />
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <h6 style="text-align:justify;">I hereby give my consent that Awesome Healthcare Solutions can use my landline for the purpose of staff login and out where applicable, to monitor and track compliance of staff. The use of the landline will be for the sole purpose of staff logs.</h6><br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Date</label>
                                    <input type="text" asp-for="CareDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="CareDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Signature</label>
                                    <baserecord asp-key="Signature" asp-for="CareSignature" asp-items="null" />
                                    <span asp-validation-for="CareSignature" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Consent For Data</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="hidden" asp-for="DataId" />
                            <input type="hidden" asp-for="ClientId" />
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <h6 style="text-align:justify;">I hereby give my consent that Awesome Healthcare Solutions can use my landline for the purpose of staff login and out where applicable, to monitor and track compliance of staff. The use of the landline will be for the sole purpose of staff logs.</h6><br />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Date</label>
                                    <input type="text" asp-for="DataDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="DataDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Signature</label>
                                    <baserecord asp-key="Signature" asp-for="DataSignature" asp-items="null" />
                                    <span asp-validation-for="DataSignature" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    @*Submit Button*@
                    <!--<div class="row">
                        <div class="form-group col-sm-10 col-xs-12 col-md-10 col-lg-10">
                            <button type="submit" class="btn btn-primary pull-right">@Model.ActionName</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


@section VendorScripts{
    <script src="../../../assets/vendor/jquery-steps/jquery.steps.js"></script>--> <!-- JQuery Steps Plugin Js -->
    <!--<script src="../../../assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="../../../assets/bundles/mainscripts.bundle.js"></script>


}

@section Scripts{
    <script src="../../../assets/js/pages/forms/form-wizard.js"></script>
    <script src="../../../assets/js/pages/forms/dropify.js"></script>


}-->