@using AwesomeCare.Admin.ViewModels.Client;
@model CreateClient
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                    <label asp-for="Firstname" class="control-label"></label>
                    <input type="text" class="form-control" asp-for="Firstname">
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                    <label asp-for="Middlename" class="control-label"></label>
                    <input type="text" class="form-control" asp-for="Middlename">
                    <span asp-validation-for="Middlename" class="text-danger"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input type="text" class="form-control" asp-for="Surname">
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <baserecord asp-key="Gender" asp-for="GenderId" asp-items="null" />
                    <span asp-validation-for="GenderId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy">
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                    <label asp-for="IdNumber" class="control-label"></label>
                    <input type="text" class="form-control" asp-for="IdNumber">
                    <span asp-validation-for="IdNumber" class="text-danger"></span>
                </div>
            </div>

        </div>

    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>Client Image<small></small></h2>
            </div>
            <div class="card-body">
                <input type="file" asp-for="ClientImage" class="dropify" data-allowed-file-extensions="png jpg jpeg">
                <span asp-validation-for="ClientImage" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input type="email" class="form-control" asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input type="text" data-provide="datepicker" asp-for="StartDate" data-date-autoclose="true" class="form-control" data-date-format="mm/dd/yyyy">
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input type="text" data-provide="datepicker" asp-for="EndDate" data-date-autoclose="true" class="form-control" data-date-format="mm/dd/yyyy">
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="NumberOfCalls" class="control-label"></label>
            <input type="number" class="form-control" asp-for="NumberOfCalls">
            <span asp-validation-for="NumberOfCalls" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="AreaCodeId" class="control-label"></label>
            <baserecord asp-key="AreaCode" asp-for="AreaCodeId" asp-items="null" />
            <span asp-validation-for="AreaCodeId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="TeritoryId" class="control-label"></label>
            <baserecord asp-key="Teritory" asp-for="TeritoryId" asp-items="null" />
            <span asp-validation-for="TeritoryId" class="text-danger"></span>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="Latitude" class="control-label"></label>
            <input type="text" class="form-control" asp-for="Latitude">
            <span asp-validation-for="Latitude" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="Longitude" class="control-label"></label>
            <input type="text" class="form-control" asp-for="Longitude">
            <span asp-validation-for="Longitude" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="PreferredName" class="control-label"></label>
            <input type="text" class="form-control" asp-for="PreferredName">
            <span asp-validation-for="PreferredName" class="text-danger"></span>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="ServiceId" class="control-label"></label>
            <baserecord asp-key="Service" asp-for="ServiceId" asp-items="null" />
            <span asp-validation-for="ServiceId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="ProvisionVenue" class="control-label"></label>
            <input type="text" class="form-control" asp-for="ProvisionVenue">
            <span asp-validation-for="ProvisionVenue" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="PostCode" class="control-label"></label>
            <input type="text" class="form-control" asp-for="PostCode">
            <span asp-validation-for="PostCode" class="text-danger"></span>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="Rate" class="control-label"></label>
            <input type="number" step=".01" class="form-control" asp-for="Rate">
            <span asp-validation-for="Rate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="TeamLeader" class="control-label"></label>
            <select asp-for="TeamLeaderId" asp-items="@Model.StaffList" class="selectpicker form-control" data-live-search="true"></select>
            <span asp-validation-for="TeamLeaderId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="Telephone" class="control-label"></label>
            <input type="text" class="form-control" asp-for="Telephone">
            <span asp-validation-for="Telephone" class="text-danger"></span>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="LanguageId" class="control-label"></label>
            <baserecord asp-key="Language" asp-for="LanguageId" asp-items="null" />
            <span asp-validation-for="LanguageId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="KeySafe" class="control-label"></label>
            <input type="text" class="form-control" asp-for="KeySafe">
            <span asp-validation-for="KeySafe" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="ChoiceOfStaffId" class="control-label"></label>
            <baserecord asp-key="Client_ChoiceOfStaff" asp-for="ChoiceOfStaffId" asp-items="null" />
            <span asp-validation-for="ChoiceOfStaffId" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label class="control-label">Client Manager</label>
            <select asp-for="ClientManager" asp-items="@Model.StaffList" class="selectpicker form-control" data-live-search="true"></select>
            <span asp-validation-for="ClientManager" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="Denture" class="control-label"></label>
            <baserecord asp-key="Client_Denture" asp-for="Denture" asp-items="null" />
            <span asp-validation-for="Denture" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="Aid" class="control-label"></label>
            <baserecord asp-key="Client_Aid" asp-for="Aid" asp-items="null" />
            <span asp-validation-for="Aid" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="CapacityId" class="control-label"></label>
            <baserecord asp-key="Client_Capacity" asp-for="CapacityId" asp-items="null" />
            <span asp-validation-for="CapacityId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="ProviderReference" class="control-label"></label>
            <input type="text" class="form-control" asp-for="ProviderReference">
            <span asp-validation-for="ProviderReference" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="NumberOfStaff" class="control-label"></label>
            <input type="number" class="form-control" asp-for="NumberOfStaff">
            <span asp-validation-for="NumberOfStaff" class="text-danger"></span>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="Keyworker" class="control-label"></label>
            <select asp-for="KeyworkerId" asp-items="@Model.StaffList" class="selectpicker form-control" data-live-search="true"></select>
            <span asp-validation-for="KeyworkerId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="About" class="control-label"></label>
            <textarea class="form-control" asp-for="About"></textarea>
            <span asp-validation-for="About" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="Hobbies" class="control-label"></label>
            <textarea class="form-control" asp-for="Hobbies"></textarea>
            <span asp-validation-for="Hobbies" class="text-danger"></span>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <textarea class="form-control" asp-for="Address"></textarea>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="Pin" class="control-label"></label>
            <input type="password" class="form-control" asp-for="Pin" />
            <span asp-validation-for="Pin" class="text-danger"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
            <label asp-for="LocationDistance" class="control-label"></label>
            <input type="text" class="form-control" asp-for="LocationDistance" />
            <span asp-validation-for="LocationDistance" class="text-danger"></span>
        </div>
    </div>
</div>

