@using AwesomeCare.DataTransferObject.DTOs.ClientMedication;
@model GetClientMedicationDetails

@{
    ViewData["Title"] = "Client Medication Details";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="header">
                <h2>Medication Details</h2>
                <ul class="header-dropdown">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a asp-route="CreateMedication" asp-route-clientId="@ViewBag.ClientId">Create Medication</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">

                <input type="hidden" asp-for="ClientId" />
                <div class="row">

                    <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                        <label asp-for="MedicationId"></label>
                        <input asp-for="Medication" class="form-control" readonly />
                    </div>

                    <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                        <label asp-for="MedicationManufacturer"></label>
                        <input asp-for="MedicationManufacturer" class="form-control" readonly />
                    </div>


                </div>

                <div class="row">
                    <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                        <label asp-for="ExpiryDate"></label>
                        <input type="text" asp-for="ExpiryDate" class="form-control" readonly />
                    </div>

                    <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                        <label asp-for="Dossage"></label>
                        <input type="text" asp-for="Dossage" class="form-control" readonly />
                    </div>

                    <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                        <label asp-for="Frequency"></label>
                        <input asp-for="Frequency" class="form-control" readonly />
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                        <label asp-for="Gap_Hour"></label>
                        <input asp-for="Gap_Hour" class="form-control" readonly />
                    </div>

                    <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                        <label asp-for="Route"></label>
                        <input asp-for="Route" class="form-control" readonly />

                    </div>

                    <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                        <label asp-for="Status"></label>
                        <input asp-for="Status" class="form-control" readonly />

                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                        <label asp-for="StartDate"></label>
                        <input type="text" asp-for="StartDate" class="form-control" readonly />
                    </div>

                    <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                        <label asp-for="StopDate"></label>
                        <input type="text" asp-for="StopDate" class="form-control" readonly />
                    </div>

                    <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                        <label asp-for="Remark"></label>
                        <textarea asp-for="Remark" class="form-control" readonly></textarea>
                    </div>
                </div>
                <p>Days/Period</p>
                <table class="table table-condensed table-light table-bordered">
                    <thead>
                        <tr>
                            @for (int i = 0; i < Model.ClientMedicationDay.Count; i++)
                            {
                                <th>

                                    <span>@Model.ClientMedicationDay[i].DayOfWeek</span>

                                </th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @for (int i = 0; i < Model.ClientMedicationDay.Count; i++)
                            {
                                <td>
                                    <div>
                                        @for (int j = 0; j < Model.ClientMedicationDay[i].ClientMedicationPeriod.Count; j++)
                                        {

                                            <span> @Model.ClientMedicationDay[i].ClientMedicationPeriod[j].RotaType</span>

                                            <br />
                                        }
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>

                <a asp-action="Medications" asp-route-clientId="@Model.ClientId" asp-controller="Client" class="btn btn-primary pull-left">Cancel</a>

            </div>
        </div>
    </div>
</div>

