@using AwesomeCare.Admin.ViewModels.CarePlan.InterestObjective;
@model CreatePets
@{
    ViewData["Title"] = @Model.Title;
}
@section HeaderScripts{
    <link rel="stylesheet" href="../../../assets/vendor/jquery-steps/jquery.steps.css">
    <link rel="stylesheet" href="../../../assets/vendor/dropify/css/dropify.min.css">
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="card-header">

                <h2></h2>

            </div>
            <div class="card-body">
                <form asp-action="@Model.Method" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            <input type="hidden" asp-for="PetsId" />
                            <input type="hidden" asp-for="ClientId" />
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Name</label>
                                    <input type="text" asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Type</label>
                                    <baserecord asp-key="Pets_Type" asp-for="Type" asp-items="null" />
                                    <span asp-validation-for="Type" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Age</label>
                                    <input type="text" asp-for="Age" class="form-control" />
                                    <span asp-validation-for="Age" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Gender</label>
                                    <baserecord asp-key="Pets_Gender" asp-for="Gender" asp-items="null" />
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Pet Meal Storage</label>
                                    <baserecord asp-key="Pet_Meal_Storage" asp-for="MealStorage" asp-items="null" />
                                    <span asp-validation-for="MealStorage" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Vet Visit</label>
                                    <baserecord asp-key="Pet_Vet_Visit" asp-for="VetVisit" asp-items="null" />
                                    <span asp-validation-for="VetVisit" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Pet Insurance</label>
                                    <baserecord asp-key="Pet_Insurance" asp-for="PetInsurance" asp-items="null" />
                                    <span asp-validation-for="PetInsurance" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <label class="control-label">Pet Activities</label>
                                    <textarea type="text" asp-for="PetActivities" class="form-control"></textarea>
                                    <span asp-validation-for="PetActivities" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <label class="control-label">Pet Care</label>
                                    <textarea type="text" asp-for="PetCare" class="form-control"></textarea>
                                    <span asp-validation-for="PetCare" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <label class="control-label">Meal Pattern</label>
                                    <textarea type="text" asp-for="MealPattern" class="form-control"></textarea>
                                    <span asp-validation-for="MealPattern" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="row">
                                <div class="form-group col-sm-6 col-xs-12 col-md-4 col-lg-6">
                                    <button type="submit" class="btn btn-primary pull-right">@Model.ActionName</button>
                                </div>
                                <div class="form-group col-sm-6 col-xs-12 col-md-4 col-lg-6">
                                    <a asp-action="Index" asp-route-clientId="@Model.ClientId" class="btn btn-primary pull-left">Cancel</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section VendorScripts{
    <script src="../../../assets/vendor/jquery-steps/jquery.steps.js"></script> <!-- JQuery Steps Plugin Js -->
    <script src="../../../assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="../../../assets/bundles/mainscripts.bundle.js"></script>
}

@section Scripts{
    <script src="../../../assets/js/pages/forms/form-wizard.js"></script>
    <script src="../../../assets/js/pages/forms/dropify.js"></script>
}

