@using  AwesomeCare.DataTransferObject.DTOs.User;
@model PostResetPassord
@{
    ViewData["Title"] = "Change Password";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="card-header">
                <h2>Change Password</h2>

            </div>
            <div class="card-body">
                <form method="post">
                    <div class="row">

                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="form-group">
                                <label class="control-label">Email Address </label>
                                <input type="text" asp-for="Email" class="form-control" readonly>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <input type="text" asp-for="Password" class="form-control">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Confirm Password </label>
                                <input type="text" asp-for="ConfirmPassword" class="form-control">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary pull-right">Update</button>
                            <a asp-action="Index" class="btn btn-default pull-left">Cancel</a>
                        </div>


                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

