@model AwesomeCare.IdentityServer.ViewModels.ApiResourceViewModel

@{
    ViewData["Title"] = "AddApiResource";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddApiResource</h1>

<h4>ApiResourceViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddApiResource">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label class="control-label">Api Scope Claims</label>
                <select asp-for="ApiScopeClaims" class="form-control multiselect">
                    @foreach (var item in Model.ApiScopeClaimSelectList)
                    {
                        <option value="@item.Value">@item.Value (@item.Text)</option>
                    }
                </select>
                <span asp-validation-for="ApiScopeClaims" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ApiResource">Back to List</a>
</div>

