@model AwesomeCare.DataTransferObject.DTOs.OfficeLocation.GetOfficeLocation

@{
    ViewData["Title"] = "Office Details";
}



<h4>Office Location Details</h4>
<hr />
<div class="row">
    <div class="col-md-6">
       
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContactPersonFullName" class="control-label"></label>
                <input asp-for="ContactPersonFullName" class="form-control" readonly/>
               
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonPhoneNumber" class="control-label"></label>
                <input asp-for="ContactPersonPhoneNumber" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonEmail" class="control-label"></label>
                <input asp-for="ContactPersonEmail" type="email" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <textarea asp-for="Address" class="form-control" readonly></textarea>
            </div>
            
      
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

