@using AwesomeCare.Admin.ViewModels.Communication;
@model ComposeMessage
        @{
        ViewData["Title"] = "Communication - Compose Message";
        }
               
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card planned_task">
                    <div class="header">
                        <h2>Compose Message</h2>
                        
                    </div>
                    <div class="body">
                        <form asp-action="Add" method="post">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label asp-for="To" class="control-label"></label>
                                        <select asp-for="To" class="form-control chosen-select" data-placeholder="Choose a Staff..." asp-items="Model.Staffs">
                                        </select>
                                        <span asp-validation-for="To" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Message" class="control-label"></label>
                                        <textarea class="form-control"  asp-for="Message"></textarea>
                                        <span asp-validation-for="Message" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <a asp-controller="Communication" asp-action="Index" class="btn btn-default pull-left">Cancel</a>
                                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
 
