@using AwesomeCare.Admin.ViewModels.DutyOnCall;
@model CreateDutyOnCall
@{
    ViewData["Title"] = "View Duty On Call";
}
@section HeaderScripts{
    <link rel="stylesheet" href="../../../assets2/vendor/jquery-steps/jquery.steps.css">
    <link rel="stylesheet" href="../../../assets2/vendor/dropify/css/dropify.min.css">
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="card-header">

            </div>
            <div class="card-body">
                <input type="hidden" asp-for="DutyOnCallId" />
                <input type="hidden" asp-for="ClientId" />
                <input type="hidden" asp-for="Attachment" />
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="Subject" class="control-label"></label>
                            <input type="text" class="form-control" asp-for="Subject">

                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Person Responsible</label>
                            <select asp-for="PersonResponsible" asp-items="Model.Staffs" class="selectpicker form-control" data-live-search="true" multiple></select>
                            <span asp-validation-for="PersonResponsible" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Date Of Call</label>
                            <input type="text" data-provide="datepicker" asp-for="DateOfCall" data-date-autoclose="true" class="form-control" data-date-format="mm/dd/yyyy" readonly>

                            <span asp-validation-for="DateOfCall" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label class="control-label">Person Responsible</label>
                            <select asp-for="PersonToAct" asp-items="Model.Staffs" class="selectpicker form-control" data-live-search="true" multiple></select>
                            <span asp-validation-for="PersonToAct" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Time of Call</label>
                            <input type="text" class="form-control" asp-for="TimeOfCall" data-provide="timepicker" data-minute-step="5" readonly>
                            <span asp-validation-for="TimeOfCall" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label class="control-label">Status</label>
                            <baserecord asp-key="DutyOnCall_Status" asp-for="Status" asp-items="null" />
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Priority</label>
                            <baserecord asp-key="DutyOnCall_Priority" asp-for="Priority" asp-items="null" />
                            <span asp-validation-for="Priority" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Ref No.</label>
                            <input type="text" class="form-control" asp-for="RefNo" />
                            <span asp-validation-for="RefNo" class="text-danger"></span>

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Type Of Duty Call</label>
                            <baserecord asp-key="DutyOnCall_Type" asp-for="TypeOfDutyCall" asp-items="null" />
                            <span asp-validation-for="TypeOfDutyCall" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Date Of Incident</label>
                            <input type="text" data-provide="datepicker" asp-for="DateOfIncident" data-date-autoclose="true" class="form-control" data-date-format="mm/dd/yyyy" readonly>
                            <span asp-validation-for="DateOfIncident" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Staff Black listed</label>
                            <select asp-for="StaffBlacklisted" asp-items="Model.ListItems" class="selectpicker form-control"></select>
                            <span asp-validation-for="StaffBlacklisted" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Notify Staff Involved</label>
                            <select asp-for="NotifyStaffInvolved" asp-items="Model.ListItems" class="selectpicker form-control"></select>
                            <span asp-validation-for="NotifyStaffInvolved" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="row">


                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Type Of Incident</label>
                            <baserecord asp-key="DutyOnCall_TypeOfIncident" asp-for="TypeOfIncident" asp-items="null" />
                            <span asp-validation-for="TypeOfIncident" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Notify Person</label>
                            <select asp-for="NotifyPerson" asp-items="Model.ListItems" class="selectpicker form-control"></select>
                            <span asp-validation-for="NotifyPerson" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Telephone To Call</label>
                            <baserecord asp-key="DutyOnCall_TelephoneToCall" asp-for="TelephoneToCall" asp-items="null" />
                            <span asp-validation-for="TelephoneToCall" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Position Of Reporting</label>
                            <baserecord asp-key="DutyOnCall_PositionOfReporting" asp-for="PositionOfReporting" asp-items="null" />
                            <span asp-validation-for="PositionOfReporting" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Details Of Incident</label>
                            <textarea type="text" class="form-control" asp-for="DetailsOfIncident" readonly></textarea>

                            <span asp-validation-for="DetailsOfIncident" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Action Taken</label>
                            <textarea type="text" class="form-control" asp-for="ActionTaken" readonly></textarea>
                            <span asp-validation-for="ActionTaken" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Client Initial</label>
                            <textarea type="text" class="form-control" asp-for="ClientInitial" readonly></textarea>

                            <span asp-validation-for="ClientInitial" class="text-danger"></span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Details Required </label>
                            <textarea type="text" class="form-control" asp-for="DetailsRequired" readonly></textarea>
                            <span asp-validation-for="DetailsRequired" class="text-danger"></span>

                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Remarks</label>
                            <textarea type="text" class="form-control" asp-for="Remarks" readonly></textarea>
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Reported By.</label>
                            <textarea type="text" class="form-control" asp-for="ReportedBy" readonly></textarea>
                            <span asp-validation-for="ReportedBy" class="text-danger"></span>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section VendorScripts{
    <script src="../../../assets2/vendor/jquery-steps/jquery.steps.js"></script> <!-- JQuery Steps Plugin Js -->
    <script src="../../../assets2/vendor/dropify/js/dropify.min.js"></script>
    <script src="../../../assets2/bundles/mainscripts.bundle.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.custom-select').attr("disabled", "disabled");
        });
    </script>
}

@section Scripts{
    <script src="../../../assets2/js/pages/forms/form-wizard.js"></script>
    <script src="../../../assets2/js/pages/forms/dropify.js"></script>
}