<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/48151c7f-9175-4672-87cb-125ceba26565/resourceGroups/GmailWebhookAPI20200131025405ResourceGroup/providers/Microsoft.Web/sites/CuidadoAdmin</ResourceId>
    <ResourceGroup>GmailWebhookAPI20200131025405ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://cuidadoadmin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>cuidadoadmin.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CuidadoAdmin</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CuidadoAdmin</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>