@using AwesomeCare.Admin.ViewModels.ClientMedAudit;
@model CreateClientMedAudit
@{
    ViewData["Title"] = "Create Client Med Audit";
}
@section HeaderScripts{
    <link rel="stylesheet" href="../../../assets2/vendor/jquery-steps/jquery.steps.css">
    <link rel="stylesheet" href="../../../assets2/vendor/dropify/css/dropify.min.css">
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="card-header">

                <h2>Client: @if (Model.ClientName != null)
                {@Model.ClientName;
            }</h2>

            </div>
            <div class="card-body">
                <form asp-route="ClientLogAudit" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            <input type="hidden" asp-for="MedAuditId" />
                            <input type="hidden" asp-for="ClientId" />
                            <div class="row">

                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">DATE</label>
                                    <input type="text" asp-for="Date" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">NEXT DUE DATE</label>
                                    <input type="text" asp-for="NextDueDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="NextDueDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">DEADLINE</label>
                                    <input type="text" asp-for="Deadline" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="Deadline" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Name of Auditor</label>
                                    <select asp-for="NameOfAuditor" asp-items="@Model.OFFICERTOACTList" class="selectpicker form-control" data-live-search="true" multiple></select>
                                    <span asp-validation-for="NameOfAuditor" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Action Recommended</label>
                                    <input type="text" asp-for="ActionRecommended" class="form-control" />
                                    <span asp-validation-for="ActionRecommended" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Action Taken</label>
                                    <input type="text" asp-for="ActionTaken" class="form-control" />
                                    <span asp-validation-for="ActionTaken" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Officer to Take Action</label>
                                    <select asp-for="OfficerToTakeAction" asp-items="@Model.OFFICERTOACTList" class="selectpicker form-control" data-live-search="true" multiple></select>
                                    <span asp-validation-for="OfficerToTakeAction" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Status</label>
                                    <baserecord asp-key="Staff_Communication_Status" asp-for="Status" asp-items="null" />
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Is there a Repeat of Incident</label>
                                    <baserecord asp-key="Repeat_Of_Incident" asp-for="RepeatOfIncident" asp-items="null" />
                                    <span asp-validation-for="RepeatOfIncident" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Reference</label>
                                    <input type="text" asp-for="Reference" class="form-control" />
                                    <span asp-validation-for="Reference" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Rot Cause</label>
                                    <input type="text" asp-for="RotCause" class="form-control" />
                                    <span asp-validation-for="RotCause" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Log URL</label>
                                    <input type="text" asp-for="LogURL" class="form-control" />
                                    <span asp-validation-for="LogURL" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Gaps In Admistration</label>
                                    <baserecord asp-key="Gaps_In_Admistration" asp-for="GapsInAdmistration" asp-items="null" />
                                    <span asp-validation-for="GapsInAdmistration" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Mar Chart Review</label>
                                    <baserecord asp-key="Mar_Chart_Review" asp-for="MarChartReview" asp-items="null" />
                                    <span asp-validation-for="MarChartReview" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Medication Concern</label>
                                    <baserecord asp-key="Medication_Concern" asp-for="MedicationConcern" asp-items="null" />
                                    <span asp-validation-for="MedicationConcern" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Hard Copy Review</label>
                                    <baserecord asp-key="Hard_Copy_Review" asp-for="HardCopyReview" asp-items="null" />
                                    <span asp-validation-for="HardCopyReview" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Medication Supply Efficiency</label>
                                    <baserecord asp-key="Medication_Supply_Efficiency" asp-for="MedicationSupplyEfficiency" asp-items="null" />
                                    <span asp-validation-for="MedicationSupplyEfficiency" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">MedInfo Upload Efficiency </label>
                                    <baserecord asp-key="Medication_Info_Upload_Eefficiency" asp-for="MedicationInfoUploadEefficiency" asp-items="null" />
                                    <span asp-validation-for="MedicationInfoUploadEefficiency" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <label class="control-label">Remark/Closing Comment</label>
                                    <input type="text" asp-for="Remarks" class="form-control" />
                                    <span asp-validation-for="Remarks" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <label class="control-label">Rights Of Medication</label>
                                    <textarea type="text" asp-for="RightsOfMedication" class="form-control"></textarea>
                                    <span asp-validation-for="RightsOfMedication" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <label class="control-label">Do you think service users needs are being met?</label>
                                    <textarea type="text" asp-for="ThinkingServiceUsers" class="form-control"></textarea>
                                    <span asp-validation-for="ThinkingServiceUsers" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <label class="control-label">Observations</label>
                                    <textarea type="text" asp-for="Observations" class="form-control"></textarea>
                                    <span asp-validation-for="Observations" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <label class="control-label">Lesson Learnt and Shared</label>
                                    <textarea type="text" asp-for="LessonLearntAndShared" class="form-control"></textarea>
                                    <span asp-validation-for="LessonLearntAndShared" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Evidence of Action Taken<small></small></h2>
                                </div>
                                <div class="card-body">
                                    <input type="file" asp-for="Evidence" class="dropify" accept=".png, .jpg, .jpeg, .pdf, .xlsx, .docx">
                                    <span asp-validation-for="Evidence" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h2>Attachment Image<small></small></h2>
                                </div>
                                <div class="card-body">
                                    <input type="file" asp-for="Attach" class="dropify" accept=".png, .jpg, .jpeg, .pdf, .xlsx, .docx">
                                    <span asp-validation-for="Attach" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-sm-6 col-xs-12 col-md-4 col-lg-6">
                                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                                </div>
                                <div class="form-group col-sm-6 col-xs-12 col-md-4 col-lg-6">
                                    <a asp-action="Index" asp-route-clientId="@Model.ClientId" class="btn btn-primary pull-left">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section VendorScripts{
    <script src="../../../assets2/vendor/jquery-steps/jquery.steps.js"></script> <!-- JQuery Steps Plugin Js -->
    <script src="../../../assets2/vendor/dropify/js/dropify.min.js"></script>
    <script src="../../../assets2/bundles/mainscripts.bundle.js"></script>
}

@section Scripts{
    <script src="../../../assets2/js/pages/forms/form-wizard.js"></script>
    <script src="../../../assets2/js/pages/forms/dropify.js"></script>
}

