@using AwesomeCare.Admin.ViewModels.Admin;
@model InvolvingPartyViewModel
@{
    ViewData["Title"] = "Client Involving Party";
}

@section VenderStyleSheets{
    <link rel="stylesheet" href="../assets2/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets2/vendor/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../assets2/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../assets2/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="../assets2/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="../assets2/vendor/sweetalert/sweetalert.css" />
}

<div class="row clearfix">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Add Client Involving Party</h2>
            </div>
            <div class="body clearfix">
                <form asp-controller="Admin" asp-action="InvolvingParty" method="post">
                    <div class="form-group">
                        <label asp-for="ItemName" class="control-label"></label>
                        <input type="text" class="form-control" asp-for="ItemName">
                        <span asp-validation-for="ItemName" class="text-danger"></span>
                        <input type="hidden" class="form-control" asp-for="Id">
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input type="text" class="form-control" asp-for="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>



                    <br>
                    <button id="btnSubmit" type="submit" class="btn btn-primary float-right">Submit</button>
                    <input class="btn btn-default float-left" style="display:none" value="Cancel" type="button" id="btnCancel"/>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h2>Client Involving Party</h2>
               
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="involvingPartyTable" class="table table-hover js-basic-example dataTable table-custom">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model.InvolvingPartyItems)
                            {

                                <tr class="gradeA">
                                    <td>@item.ItemName</td>
                                    <td>@item.Description</td>
                                    <td class="actions">

                                        <button class="btn btn-sm btn-icon btn-pure btn-success on-default m-r-5 button-edit"
                                                data-toggle="tooltip" data-row-id="@item.ClientInvolvingPartyItemId" data-original-title="Edit">
                                            <i class="icon-pencil" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-sm btn-icon btn-pure btn-danger on-default button-remove"
                                                data-toggle="tooltip" data-row-id="@item.ClientInvolvingPartyItemId" data-original-title="Remove">
                                            <i class="icon-trash" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section VendorScripts{

    <script src="../assets2/bundles/datatablescripts.bundle.js"></script>
    <script src="../assets2/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="../assets2/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="../assets2/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="../assets2/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="../assets2/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>

    <script src="../assets2/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->


    <script src="../assets2/bundles/mainscripts.bundle.js"></script>
    <script src="../assets2/js/pages/tables/jquery-datatable.js"></script>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            
            //$('.button-edit').on('click', function () {
            //    var rowId = $(this).attr('data-row-id')
            //    $('#Id').val(rowId)
                
            //})
        })
    </script>
}