
<div class="main_menu">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="navbar-collapse align-items-center collapse" id="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown"><a href="/" class="nav-link"><i class="icon-home"></i>Dashboard</a></li>
                    <li class="nav-item dropdown mega-menu">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-user-follow"></i> <span> Client</span></a>
                        <div class="dropdown-menu mega-main padding-0 animated fadeIn">
                            <div class="row">
                                <div class="col-lg-2 col-lg-auto col-md-4 col-sm-4">
                                    <div class="mega-list">
                                        <ul class="list-unstyled">
                                            <li><label>Home Care</label></li>
                                            <li><a asp-controller="Client" asp-action="HomeCare">Home Care</a></li>
                                            <li><a asp-controller="Client" asp-action="HomeCareRegistration">Registration</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-lg-auto col-md-4 col-sm-4">
                                    <div class="mega-list">
                                        <ul class="list-unstyled">
                                            <li><label>Nursing Home</label></li>
                                            @*<li><a href="patients-all.html">All Patients</a></li>*@

                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-4 hidden-sm">
                                    <div class="img-box" style="background-image: url(../assets/images/menu-img/1.jpg)"></div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown mega-menu">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-user-follow"></i> <span> Staff</span></a>
                        <div class="dropdown-menu mega-main padding-0 animated fadeIn">
                            <div class="row">
                                <div class="col-lg-2 col-lg-auto col-md-4 col-sm-4">
                                    <div class="mega-list">
                                        <ul class="list-unstyled">
                                            <li><label>Staff</label></li>
                                            <li><a asp-controller="User" asp-action="Index">All Users</a></li>
                                            <li><a asp-controller="Staff" asp-action="Index">All Staffs</a></li>
                                            <li><a asp-controller="Staff" asp-action="Communication">Communication</a></li>
                                            <li><a asp-route="CreateRota">Create Rota</a></li>
                                            <li><a asp-controller="StaffBlackList" asp-action="Index">Staff Blacklist</a></li>
                                            <li><a asp-controller="Communication" asp-action="Index">Communication</a></li>
                                            <li><a asp-controller="IncidentReporting" asp-action="Reports">Incident Reports</a></li>
                                            <li><a asp-controller="Investigation" asp-action="Index">Investigations</a></li>
                                            <li><a asp-controller="ShiftBooking" asp-action="CreateStaffShift">Create Shift</a></li>
                                        </ul>
                                    </div>
                                </div>


                                <div class="col-lg-6 col-md-4 hidden-sm">
                                    <div class="img-box" style="background-image: url(../assets/images/menu-img/1.jpg)"></div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown mega-menu">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-user-follow"></i> <span> Admin</span></a>
                        <div class="dropdown-menu mega-main padding-0 animated fadeIn">
                            <div class="row">
                                <div class="col-lg-2 col-lg-auto col-md-4 col-sm-4">
                                    <div class="mega-list">
                                        <ul class="list-unstyled">
                                            <li><label>Settings</label></li>

                                            <li><a asp-controller="Admin" asp-action="BaseRecord">BaseRecord</a></li>
                                            <li><a asp-controller="Admin" asp-action="InvolvingParty">Client Involving Party</a></li>
                                            <li><a asp-controller="Rota" asp-action="Index">Rota</a></li>
                                            <li><a asp-controller="RotaType" asp-action="Index">RotaType</a></li>
                                            <li><a asp-controller="RotaTask" asp-action="Index">Task</a></li>
                                            <li><a asp-controller="Admin" asp-action="ClientCareDetailsHeading">Client CareDetails</a></li>

                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-lg-auto col-md-4 col-sm-4">
                                    <div class="mega-list">
                                        <ul class="list-unstyled">
                                            <li><a asp-controller="UnTowards" asp-action="Index">UnTowards</a></li>
                                            <li><a asp-controller="ShiftBooking" asp-action="Index">Shift Booking</a></li>
                                            <li><a asp-controller="ShiftBooking" asp-action="ViewShift">View Shift</a></li>
                                            <li><a asp-controller="StaffWorkTeam" asp-action="Index">Staff Work Team</a></li>
                                            <li><a asp-controller="StaffRotaSelection" asp-action="Index">Staff Rota Item</a></li>
                                            <li><a asp-controller="Rotering" asp-action="RotaAdmin">Rota Admin</a></li>
                                            <li><a asp-controller="Rotering" asp-action="LiveRota">Live Tracker</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-lg-auto col-md-4 col-sm-4">
                                    <div class="mega-list">
                                        <ul class="list-unstyled">
                                            <li><a asp-controller="Medication" asp-action="Index">Medications</a></li>
                                            <li><a asp-controller="MedicationManufacturer" asp-action="Index">Manufacturers</a></li>
                                            <li><a asp-controller="Complain" asp-action="Index">Complain Register</a></li>
                                            <li><a asp-controller="Nutrition" asp-action="Reports">Nutrition</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>