@using IdentityServer4.Extensions;

<div class="main-wrapper">
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="submenu">
                        <a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a class="active" href="/">Admin Dashboard</a></li>
                            <li><a asp-controller="Dashboard" asp-action="Client">Client Dashboard</a></li>
                            <li><a asp-controller="Dashboard" asp-action="Employee" asp-route-staffId="2">Employee Dashboard</a></li>                         
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="la la-users"></i> <span> Clients</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li class="submenu">
                                <a href="#"><span> HomeCare</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a asp-controller="Client" asp-action="HomeCare">Active Client</a></li>
                                    <li><a asp-controller="Client" asp-action="HomeCareOther">Non-Active Client</a></li>
                                    <li><a asp-controller="Client" asp-action="HomeCareRegistration">Registration</a></li>
                                    <li><a asp-controller="CarePlan" asp-action="Reports">Care Plan & Risk Assessment</a></li>
                                </ul>
                            </li>
                            <li><a href="respite.html">Respite</a></li>
                            <li><a asp-controller="HealthCondition" asp-action="Reports">Health Condition</a></li>
                            <li><a asp-controller="Hobbies" asp-action="Reports">Hobbies</a></li>
                            <li><a asp-controller="Client" asp-action="ClientMatrix">Client Matrix</a></li>
                        </ul>
                    </li>
					<li class="submenu">
						<a href="#"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
                              <li><a asp-controller="Staff" asp-action="Staffs">Staffs</a></li>
                            <li><a asp-controller="User" asp-action="Index">All Users</a></li>
                            <li><a asp-controller="Staff" asp-action="Index">Approved Staffs</a></li>
                            <li><a asp-controller="Staff" asp-action="OtherStaff">Other Staffs</a></li>
                            <li><a asp-controller="Staff" asp-action="Communication">Communication</a></li>                    
                            <li><a asp-controller="StaffBlackList" asp-action="Index">Blacklist</a></li>
                            <li><a asp-controller="StaffLateness" asp-action="Reports">Staff Lateness</a></li>
                            <li><a asp-controller="OfficeAttendance" asp-action="Index">Attendance</a></li>
						</ul>
					</li>
					<li class="submenu">
						<a href="#"><i class="la la-user-secret"></i> <span> Rotaring & Shift</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
                            <li><a asp-route="CreateRota">Send Rota</a></li>
                            <li><a asp-controller="ShiftBooking" asp-action="Index">Create Shift</a></li>
                            <li><a asp-controller="ShiftBooking" asp-action="Index">Book Shift</a></li>
                            <li><a asp-controller="ShiftBooking" asp-action="ShiftSchedule">View Shift</a></li>
						</ul>
					</li>
					<li class="submenu">
						<a href="#"><i class="la la-ticket"></i> <span> Duty/OnCall</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
                            <li><a asp-controller="DutyOnCall" asp-action="Reports">All On Calls</a></li>
                            <li><a asp-controller="Communication" asp-action="Index">Communication</a>
                            </li>
                            <li><a asp-controller="HospitalEntry" asp-action="Reports">Hospital Entry</a></li>
                            <li><a asp-controller="EHospitalExit" asp-action="Reports">Hospital Exit</a></li>
                        </ul>
					</li>
					<li class="submenu">
						<a href="#"><i class="la la-edit"></i> <span> Tracker/ECM</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
                            <li><a asp-controller="StaffAdlObs" asp-action="Reports">ADL Live Tracker</a></li>
                            <li><a asp-controller="Medication" asp-action="MARChart">MAR Chart</a></li>
                            <li><a asp-controller="Medication" asp-action="MedTracker">Medication Live Tracker</a></li>
                            <li><a asp-controller="Medication" asp-action="Index">New Incoming Medications</a></li>
                            <li><a asp-controller="TrackingConcernNote" asp-action="Index">Tracker Concerns</a></li>
                            <li><a asp-controller="Rotering" asp-action="LiveRota">Tracker Report</a></li>
                        </ul>
					</li>
                    <li class="submenu">
						<a href="#"><i class="la la-crosshairs"></i> <span> Incoming</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
                            <li><a asp-controller="IncidentReporting" asp-action="Reports">Incident Reports</a></li>
                            <li><a asp-controller="Medication" asp-action="Index">New Incoming Medications</a></li>
                            <li><a asp-controller="WhisttleBlower" asp-action="Reports">Whisttle Blower</a></li>
                        </ul>
					</li>
                    <li class="submenu">
                        <a href="#"><i class="la la-user"></i><span> Forms &amp; Logs</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">                        
                            <li><a asp-controller="Reporting" asp-action="EmptyLog">Empty Log Book</a></li>
                            <li><a asp-controller="Reporting" asp-action="FilledLog">Filled Log Book</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="la la-pie-chart"></i><span> Manager </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="PerformanceIndicator" asp-action="Reports">Performance Indicator</a></li>
                            <li><a asp-controller="UnTowards" asp-action="Index">UnTowards Notifications</a></li>
                            <li><a asp-controller="HealthLiving" asp-action="Reports">Health And Safety</a></li>
                            <li><a asp-controller="Investigation" asp-action="Index">Investigations</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="la la-money"></i><span> Audit/Monitoring </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="ClientLogAudit" asp-action="Reports">Log Audit</a></li>
                            <li><a asp-controller="ClientMedAudit" asp-action="Reports">Medication Admin Audit</a></li>
                            <li><a asp-controller="CarePlan" asp-action="Reports">Care Plan Review</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="la la-graduation-cap"></i><span> Human Resources </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="SetupStaffHoliday" asp-action="Reports">Leave and Holiday Admin</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="la la-object-ungroup"></i> <span> Finance</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li class="submenu">
                                <a href="#"><span> Accounting</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a asp-controller="Rotering" asp-action="TrackerReport">Tracker Report</a></li>
                                    <li><a asp-controller="Payroll" asp-action="Reports">Payroll Schedule</a></li>
                                    <li><a asp-controller="Rotering" asp-action="Invoice">Invoice</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="la la-briefcase"></i><span>Knowledge Base</span><span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="Enotice" asp-action="Reports">Enotice</a></li>
                            <li><a asp-controller="Resources" asp-action="Reports">Resource Materials</a></li>                        
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="la la-bell"></i><span>Distance Finder</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="Reporting" asp-action="DistanceFinder">Clients</a></li>
                            <li><a asp-controller="Reporting" asp-action="DistanceFinder">Employees</a></li>                        
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="la la-user"></i> <span> Admin</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="Admin" asp-action="BaseRecord">Base Record</a></li>
                            <li><a asp-controller="Rota" asp-action="Index">Rota</a></li>
                            <li class="submenu">
                                <a href="#"><span> Rota</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a asp-controller="RotaType" asp-action="Index">RotaType</a></li>
                                    <li><a asp-controller="StaffRotaSelection" asp-action="Index">Rota Item</a></li>
                                </ul>
                            </li>
                            <li><a asp-controller="Medication" asp-action="Index">Medications</a></li>
                            <li class="submenu">
                                <a href="#"><span> Medication</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a asp-controller="StaffRotaSelection" asp-action="Index">New Medication Settings</a></li>
                                </ul>
                            </li>                          
                            <li><a asp-controller="OfficeLocation" asp-action="Index">Office Location</a></li>
                            <li><a asp-controller="Admin" asp-action="InvolvingParty">Client Involving Party</a></li>
                            <li><a asp-controller="RotaType" asp-action="Index">RotaType</a></li>
                            <li><a asp-controller="RotaTask" asp-action="Index">Task</a></li>
                            <li><a asp-controller="Admin" asp-action="ClientCareDetailsHeading">Client CareDetails</a></li>
                            <li><a asp-controller="UnTowards" asp-action="Index">UnTowards</a></li>
                            <li><a asp-controller="ShiftBooking" asp-action="Index">Shift Booking</a></li>
                            <li><a asp-controller="ShiftBooking" asp-action="ViewShift">View Shift</a></li>
                            <li><a asp-controller="StaffWorkTeam" asp-action="Index">Staff Work Team</a></li>
                            <li><a asp-controller="StaffRotaSelection" asp-action="Index">Staff Rota Item</a></li>
                            <li><a asp-controller="Rotering" asp-action="RotaAdmin">Rota Admin</a></li>
                            <li><a asp-controller="Rotering" asp-action="LiveRota">Live Tracker</a></li>
                            <li><a asp-controller="Rotering" asp-action="RotaReport">Rota Report</a></li>
                            <li><a asp-controller="Medication" asp-action="Index">Medications</a></li>
                            <li><a asp-controller="MedicationManufacturer" asp-action="Index">Manufacturers</a></li>
                            <li><a asp-controller="Enotice" asp-action="Reports">Enotice</a></li>
                            <li><a asp-controller="IncomingMeds" asp-action="Reports">Incoming Meds</a></li>
                            <li><a asp-controller="Resources" asp-action="Reports">Resources</a></li>
                            <li><a asp-controller="WhisttleBlower" asp-action="Reports">Whisttle Blower</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="la la-cube"></i> <span> Reporting</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li class="submenu">
                                <a href="#"><span> Client</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a asp-controller="Complain" asp-action="Index">Complain Register</a></li>
                                    <li><a asp-controller="Nutrition" asp-action="List">Nutrition</a></li>
                                    <li><a asp-controller="ClientLogAudit" asp-action="Reports">Log Audit</a></li>
                                    <li><a asp-controller="ClientMedAudit" asp-action="Reports">Med Audit</a></li>
                                    <li><a asp-controller="ClientVoice" asp-action="Reports">Client Voice</a></li>
                                    <li><a asp-controller="ClientMgtVisit" asp-action="Reports">MGT Visit</a></li>
                                    <li><a asp-controller="ClientProgram" asp-action="Reports">Program</a></li>
                                    <li><a asp-controller="ClientServiceWatch" asp-action="Reports">Ongoing/Service Watch</a></li>
                                    <li><a asp-controller="ClientBloodCoagulationRecord" asp-action="Reports">Blood Coagulation</a></li>
                                    <li><a asp-controller="ClientBloodPressure" asp-action="Reports">Blood Pressure</a></li>
                                    <li><a asp-controller="ClientBowelMovement" asp-action="Reports">Bowel Movement</a></li>
                                    <li><a asp-controller="ClientFoodIntake" asp-action="Reports">Food Intake</a></li>
                                    <li><a asp-controller="ClientPainChart" asp-action="Reports">Pain Chart</a></li>
                                    <li><a asp-controller="ClientBMIChart" asp-action="Reports">BMI Chart</a></li>
                                    <li><a asp-controller="ClientPulseRate" asp-action="Reports">Pulse Rate</a></li>
                                    <li><a asp-controller="ClientSeizure" asp-action="Reports">Seizure</a></li>
                                    <li><a asp-controller="ClientBodyTemp" asp-action="Reports">BodyTemp</a></li>
                                    <li><a asp-controller="ClientEyeHealthMonitoring" asp-action="Reports">Eye Health</a></li>
                                    <li><a asp-controller="ClientHeartRate" asp-action="Reports">Heart Rate</a></li>
                                    <li><a asp-controller="ClientOxygenLvl" asp-action="Reports">Oxygen Level</a></li>
                                    <li><a asp-controller="ClientWoundCare" asp-action="Reports">Wound Care</a></li>
                                    <li><a asp-controller="ClientCareObj" asp-action="Reports">Care Objectives</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><span> Care Plan</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="PersonalDetail" asp-action="Reports">Personal Detail</a></li>
                            <li><a asp-controller="Balance" asp-action="Reports">Balance</a></li>
                            <li><a asp-controller="HistoryOfFall" asp-action="Reports">History Of Fall</a></li>
                            <li><a asp-controller="HealthLiving" asp-action="Reports">Health And Living</a></li>
                            <li><a asp-controller="PhysicalAbility" asp-action="Reports">Physical Ability</a></li>
                            <li><a asp-controller="SpecialHealthAndMedication" asp-action="Reports">Special Health And Medication</a></li>
                            <li><a asp-controller="SpecialHealthCondition" asp-action="Reports">Special Health Condition</a></li>
                            <li><a asp-controller="CarePlanNutrition" asp-action="Reports">CarePlan Nutrition</a></li>
                            <li><a asp-controller="PersonalHygiene" asp-action="Reports">Personal Hygiene</a></li>
                            <li><a asp-controller="InfectionControl" asp-action="Reports">Infection Control</a></li>
                            <li><a asp-controller="ManagingTasks" asp-action="Reports">Managing Tasks</a></li>
                            <li><a asp-controller="InterestAndObjective" asp-action="Reports">Interest And Objective</a></li>
                            <li><a asp-controller="Pets" asp-action="Reports">Pets</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><span> Staff</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="StaffSpotCheck" asp-action="Reports">Spot Check</a></li>
                            <li><a asp-controller="StaffAdlObs" asp-action="Reports">Adl Observation</a></li>
                            <li><a asp-controller="StaffMedComp" asp-action="Reports">Med Comp. Observation</a></li>
                            <li><a asp-controller="StaffKeyWorkerVoice" asp-action="Reports">Key Worker Voice</a></li>
                            <li><a asp-controller="StaffSurvey" asp-action="Reports">Survey</a></li>
                            <li><a asp-controller="StaffOneToOne" asp-action="Reports">One To One</a></li>
                            <li><a asp-controller="StaffSupervisionAppraisal" asp-action="Reports">Supervision Appraisal</a></li>
                            <li><a asp-controller="StaffReference" asp-action="Reports">Reference</a></li>
                            <li><a asp-controller="TaskBoard" asp-action="Reports">Task Board</a></li>
                            <li><a asp-controller="StaffPersonalityTest" asp-action="Reports">Personality Test</a></li>
                            <li><a asp-controller="StaffInfectionControl" asp-action="Reports">Infection Control</a></li>
                            <li><a asp-controller="StaffHoliday" asp-action="Reports">Holiday</a></li>
                            <li><a asp-controller="StaffTeamLead" asp-action="Reports">Staff Team Lead</a></li>
                            <li><a asp-controller="StaffTax" asp-action="Reports">Staff Tax</a></li>
                            <li><a asp-controller="SalaryAllowance" asp-action="Reports">Salary Allowance</a></li>
                            <li><a asp-controller="SalaryDeduction" asp-action="Reports">Salary Deduction</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><span> Forms &amp; Logs</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="Reporting" asp-action="EmptyLog">Empty Log Book</a></li>
                            <li><a asp-controller="Reporting" asp-action="FilledLog">Filled Log Book</a></li>
                            <li><a asp-controller="Reporting" asp-action="DistanceFinder">Distance Finder</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><span>Rota &amp; Scheduling</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="Reporting" asp-action="DistanceFinder">Distance Finder</a></li>
                            <li><a asp-controller="ShiftBooking" asp-action="Index">CreateStaffShift</a></li>
                            <li><a asp-controller="Rota" asp-action="Index">View Rota</a></li>
                            <li><a asp-controller="Rota" asp-action="Index">Rota</a></li>
                            <li><a asp-controller="RotaType" asp-action="Index">RotaType</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><span>Tracker</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="Rotering" asp-action="LiveRota">Live Tracker</a></li>
                            <li><a asp-controller="StaffAdlObs" asp-action="Reports">Adl Tracker</a></li>
                            <li><a asp-controller="Medication" asp-action="Index">Incoming Medication</a></li>
                            <li><a asp-controller="Rotering" asp-action="LiveRota">Tracker Report</a></li>
                            <li><a asp-controller="TrackingConcernNote" asp-action="Index">Tracker Feedback</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><span>Bookings</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="ShiftBooking" asp-action="Index">Shift Booking</a></li>
                            <li><a asp-controller="ShiftBooking" asp-action="ViewShift">View Shift</a></li>
                            <li><a asp-controller="ShiftBooking" asp-action="Index">Create Shift</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><span>Resources</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="Enotice" asp-action="Reports">Enotice</a></li>
                            <li><a asp-controller="Resources" asp-action="Reports">Resources</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><span>Duty</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="DutyOnCall" asp-action="Reports">UnTowards</a></li>
                            <li><a asp-controller="HospitalEntry" asp-action="Reports">Hospital Admission</a></li>
                            <li><a asp-controller="EHospitalExit" asp-action="Reports">Hospital Discharge</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><span>Client</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="Client" asp-action="HomeCare">Home Care</a></li>
                            <li><a asp-controller="RotaTask" asp-action="Index">Tasks</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><span>Manager</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="PerformanceIndicator" asp-action="Reports">Performance Indicator</a></li>
                            <li><a asp-controller="UnTowards" asp-action="Index">UnTowards</a></li>
                            <li><a asp-controller="StaffBlackList" asp-action="Index">Blacklist</a></li>
                            <li><a asp-controller="IncidentReporting" asp-action="Reports">Incident Reports</a></li>
                            <li><a asp-controller="Investigation" asp-action="Index">Investigations</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><span>Accounts</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="Staff" asp-action="StaffRate">Staff Rate</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><span>Audit</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="PerformanceIndicator" asp-action="Reports">Performance Indicator</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><span>Human Resources</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a asp-controller="SetupStaffHoliday" asp-action="Reports">Setup Staff Holiday</a></li>
                        </ul>
                    </li>
                </ul>        
            </div>
        </div>
    </div>
</div>
