@using IdentityServer4.Extensions;
<div id="left-sidebar" class="sidebar">
    <div class="sidebar-scroll">
        <div class="user-account">
            <img src="../assets/images/user.png" class="rounded-circle user-photo" alt="User Profile Picture">
            <div class="dropdown">
                <span>Welcome, @User.GetDisplayName()</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong></strong></a>
                <ul class="dropdown-menu dropdown-menu-right account">
                    @*<li><a href="doctor-profile.html"><i class="icon-user"></i>My Profile</a></li>
                    <li><a href="app-inbox.html"><i class="icon-envelope-open"></i>Messages</a></li>
                    <li><a href="javascript:void(0);"><i class="icon-settings"></i>Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="page-login.html"><i class="icon-power"></i>Logout</a></li>*@
                </ul>
            </div>
            <hr>
            <ul class="row list-unstyled">
                <li class="col-4">
                    <small>Exp</small>
                    <h6></h6>
                </li>
                <li class="col-4">
                    <small>Awards</small>
                    <h6></h6>
                </li>
                <li class="col-4">
                    <small>Clients</small>
                    <h6></h6>
                </li>
            </ul>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu">Menu</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#setting"><i class="icon-settings"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content p-l-0 p-r-0">
            <div class="tab-pane active" id="menu">
                <nav class="sidebar-nav">
                    <ul class="main-menu metismenu">
                        <li class="active"><a href="/"><i class="icon-home"></i><span>Dashboard</span></a></li>
                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i class="icon-user-follow"></i><span>Client</span> </a>
                            <ul>
                                <li><label>Home Care</label></li>
                                <li><a asp-controller="Client" asp-action="HomeCare">Home Care</a></li>
                                <li><a asp-controller="Client" asp-action="HomeCareRegistration">Registration</a></li>
                                <li><a asp-controller="PersonalDetail" asp-action="Reports">Personal Detail</a></li>
                                <li><label>Nursing Home</label></li>
                                <li><a href="patients-all.html">All Patients</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i class="icon-user-follow"></i><span>Staff</span> </a>
                            <ul>
                                <li><a asp-controller="User" asp-action="Index">All Users</a></li>
                                <li><a asp-controller="Staff" asp-action="Index">All Staffs</a></li>
                                <li><a asp-controller="Staff" asp-action="Communication">Communication</a></li>
                                <li><a asp-route="CreateRota">Create Rota</a></li>
                                <li><a asp-controller="StaffBlackList" asp-action="Index">Staff Blacklist</a></li>
                                <li><a asp-controller="Communication" asp-action="Index">Communication</a></li>
                                <li><a asp-controller="IncidentReporting" asp-action="Reports">Incident Reports</a></li>
                                <li><a asp-controller="Investigation" asp-action="Index">Investigations</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i class="icon-user"></i><span>Admin</span> </a>
                            <ul>
                                <li><a asp-controller="Admin" asp-action="BaseRecord">BaseRecord</a></li>
                                <li><a asp-controller="Admin" asp-action="InvolvingParty">Client Involving Party</a></li>
                                <li><a asp-controller="Rota" asp-action="Index">Rota</a></li>
                                <li><a asp-controller="RotaType" asp-action="Index">RotaType</a></li>
                                <li><a asp-controller="RotaTask" asp-action="Index">Task</a></li>
                                <li><a asp-controller="Admin" asp-action="ClientCareDetailsHeading">Client CareDetails</a></li>
                                <li><a asp-controller="UnTowards" asp-action="Index">UnTowards</a></li>
                                <li><a asp-controller="ShiftBooking" asp-action="Index">Shift Booking</a></li>
                                <li><a asp-controller="ShiftBooking" asp-action="ViewShift">View Shift</a></li>
                                <li><a asp-controller="StaffWorkTeam" asp-action="Index">Staff Work Team</a></li>
                                <li><a asp-controller="StaffRotaSelection" asp-action="Index">Staff Rota Item</a></li>
                                <li><a asp-controller="Rotering" asp-action="RotaAdmin">Rota Admin</a></li>
                                <li><a asp-controller="Rotering" asp-action="LiveRota">Live Tracker</a></li>
                                <li><a asp-controller="Rotering" asp-action="RotaReport">Rota Report</a></li>
                                <li><a asp-controller="Medication" asp-action="Index">Medications</a></li>
                                <li><a asp-controller="MedicationManufacturer" asp-action="Index">Manufacturers</a></li>
                                <li><a asp-controller="Enotice" asp-action="Reports">Enotice</a></li>
                                <li><a asp-controller="IncomingMeds" asp-action="Reports">Incoming Meds</a></li>
                                <li><a asp-controller="Resources" asp-action="Reports">Resources</a></li>
                                <li><a asp-controller="WhisttleBlower" asp-action="Reports">Whisttle Blower</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i class="icon-wallet"></i><span>Reporting</span> </a>
                            <ul>
                                <li><label>Client</label></li>
                                <li><a asp-controller="Complain" asp-action="Index">Complain Register</a></li>
                                <li><a asp-controller="Nutrition" asp-action="List">Nutrition</a></li>
                                <li><a asp-controller="ClientLogAudit" asp-action="Reports">Log Audit</a></li>
                                <li><a asp-controller="ClientMedAudit" asp-action="Reports">Med Audit</a></li>
                                <li><a asp-controller="ClientVoice" asp-action="Reports">Client Voice</a></li>
                                <li><a asp-controller="ClientMgtVisit" asp-action="Reports">MGT Visit</a></li>
                                <li><a asp-controller="ClientProgram" asp-action="Reports">Program</a></li>
                                <li><a asp-controller="ClientServiceWatch" asp-action="Reports">Ongoing/Service Watch</a></li>
                                <li><a asp-controller="ClientBloodCoagulationRecord" asp-action="Reports">Blood Coagulation</a></li>
                                <li><a asp-controller="ClientBloodPressure" asp-action="Reports">Blood Pressure</a></li>
                                <li><a asp-controller="ClientBowelMovement" asp-action="Reports">Bowel Movement</a></li>
                                <li><a asp-controller="ClientFoodIntake" asp-action="Reports">Food Intake</a></li>
                                <li><a asp-controller="ClientPainChart" asp-action="Reports">Pain Chart</a></li>
                                <li><a asp-controller="ClientBMIChart" asp-action="Reports">BMI Chart</a></li>
                                <li><a asp-controller="ClientPulseRate" asp-action="Reports">Pulse Rate</a></li>
                                <li><a asp-controller="ClientSeizure" asp-action="Reports">Seizure</a></li>
                                <li><a asp-controller="ClientBodyTemp" asp-action="Reports">BodyTemp</a></li>
                                <li><a asp-controller="ClientEyeHealthMonitoring" asp-action="Reports">Eye Health</a></li>
                                <li><a asp-controller="ClientHeartRate" asp-action="Reports">Heart Rate</a></li>
                                <li><a asp-controller="ClientOxygenLvl" asp-action="Reports">Oxygen Level</a></li>
                                <li><a asp-controller="ClientWoundCare" asp-action="Reports">Wound Care</a></li>
                                <li><a asp-controller="Balance" asp-action="Reports">Balance</a></li>
                                <li><a asp-controller="HistoryOfFall" asp-action="Reports">History Of Fall</a></li>
                                <li><a asp-controller="HealthLiving" asp-action="Reports">Health And Living</a></li>
                                <li><a asp-controller="PhysicalAbility" asp-action="Reports">Physical Ability</a></li>
                                <li><a asp-controller="SpecialHealthAndMedication" asp-action="Reports">Special Health And Medication</a></li>
                                <li><a asp-controller="SpecialHealthCondition" asp-action="Reports">Special Health Condition</a></li>
                                <li><a asp-controller="CarePlanNutrition" asp-action="Reports">CarePlan Nutrition</a></li>
                                <li><a asp-controller="PersonalHygiene" asp-action="Reports">Personal Hygiene</a></li>
                                <li><a asp-controller="InfectionControl" asp-action="Reports">Infection Control</a></li>
                                <li><label>Staff</label></li>
                                <li><a asp-controller="StaffSpotCheck" asp-action="Reports">Spot Check</a></li>
                                <li><a asp-controller="StaffAdlObs" asp-action="Reports">Adl Observation</a></li>
                                <li><a asp-controller="StaffMedComp" asp-action="Reports">Med Comp. Observation</a></li>
                                <li><a asp-controller="StaffKeyWorkerVoice" asp-action="Reports">Key Worker Voice</a></li>
                                <li><a asp-controller="StaffSurvey" asp-action="Reports">Survey</a></li>
                                <li><a asp-controller="StaffOneToOne" asp-action="Reports">One To One</a></li>
                                <li><a asp-controller="StaffSupervisionAppraisal" asp-action="Reports">Supervision Appraisal</a></li>
                                <li><a asp-controller="StaffReference" asp-action="Reports">Reference</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i class="icon-wallet"></i><span>Forms &amp; Logs</span> </a>
                            <ul>
                                <li><a asp-controller="Reporting" asp-action="EmptyLog">Empty Log Book</a></li>
                                <li><a asp-controller="Reporting" asp-action="FilledLog">Filled Log Book</a></li>
                                <li><a asp-controller="Reporting" asp-action="DistanceFinder">Distance Finder</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i class="icon-wallet"></i><span>Rota &amp; Scheduling</span> </a>
                            <ul>
                                <li><a asp-controller="Reporting" asp-action="DistanceFinder">Distance Finder</a></li>
                                <li><a asp-controller="ShiftBooking" asp-action="Index">CreateStaffShift</a></li>
                                <li><a asp-controller="Rota" asp-action="Index">View Rota</a></li>                               
                                <li><a asp-controller="Rota" asp-action="Index">Rota</a></li>
                                <li><a asp-controller="RotaType" asp-action="Index">RotaType</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i class="icon-wallet"></i><span>Tracker</span> </a>
                            <ul>
                                <li><a asp-controller="Rotering" asp-action="LiveRota">Live Tracker</a></li>
                                <li><a asp-controller="StaffAdlObs" asp-action="Reports">Adl Tracker</a></li>
                                <li><a asp-controller="Medication" asp-action="Index">Incoming Medication</a></li>
                                <li><a asp-controller="Rotering" asp-action="LiveRota">Tracker Report</a></li>
                                <li><a asp-controller="Rotering" asp-action="LiveRota">Tracker Feedback</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i class="icon-wallet"></i><span>Bookings</span> </a>
                            <ul>
                                <li><a asp-controller="ShiftBooking" asp-action="Index">Shift Booking</a></li>
                                <li><a asp-controller="ShiftBooking" asp-action="ViewShift">View Shift</a></li>
                                <li><a asp-controller="ShiftBooking" asp-action="Index">Create Shift</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i class="icon-wallet"></i><span>Resources</span> </a>
                            <ul>
                                <li><a asp-controller="Enotice" asp-action="Reports">Enotice</a></li>
                                <li><a href="policy.html">Policy</a></li>
                                <li><a asp-controller="Resources" asp-action="Reports">Resources</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i class="icon-wallet"></i><span>Duty</span> </a>
                            <ul>
                                <li><a asp-controller="UnTowards" asp-action="Index">UnTowards</a></li>
                                <li><a href="policy.html">Hospital Admission and Discharge</a></li>
                                <li><a href="appointments.html">Appointments</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i class="icon-user-follow"></i><span>Client</span> </a>
                            <ul>
                                <li><label>Home Care</label></li>
                                <li><a asp-controller="Client" asp-action="HomeCare">Home Care</a></li>
                                <li><a href="nursing-home.html">Nursing Home</a></li>
                                <li><a asp-controller="RotaTask" asp-action="Index">Tasks</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i class="icon-user-follow"></i><span>Manager</span> </a>
                            <ul>
                                <li><a href="nursing-home.html">Duty/Oncall Report</a></li>
                                <li><a asp-controller="UnTowards" asp-action="Index">UnTowards</a></li>
                                <li><a href="nursing-home.html">CQC Notifications</a></li>
                                <li><a asp-controller="StaffBlackList" asp-action="Index">Blacklist</a></li>
                                <li><a href="nursing-home.html">Newsletter</a></li>
                                <li><a href="nursing-home.html">Birthdays</a></li>
                                <li><a asp-controller="IncidentReporting" asp-action="Reports">Incident Reports</a></li>
                                <li><a asp-controller="Investigation" asp-action="Index">Investigations</a></li>
                                <li><a href="nursing-home.html">Meetings</a></li>
                                <li><a href="nursing-home.html">Client Matrix</a></li>                              
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i class="icon-user-follow"></i><span>Accounts</span> </a>
                            <ul>
                                <li><a href="nursing-home.html">Payroll</a></li>
                                <li><a href="nursing-home.html">Payslip</a></li>
                                <li><a href="nursing-home.html">Invoices</a></li>
                                <li><a href="nursing-home.html">Local Authority Financial Report</a></li>
                                <li><a href="nursing-home.html">Income andExpenses Account</a></li>
                                <li><a href="nursing-home.html">Assets Registered</a></li>                        
                            </ul>
                        </li> 
                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i class="icon-user-follow"></i><span>Audit</span> </a>
                            <ul>
                                <li><a href="nursing-home.html">Filled Communication Log</a></li>
                                <li><a href="nursing-home.html">Filled Mar Chart</a></li>
                                <li><a href="nursing-home.html">Performance Indicator</a></li>
                                <li><a href="nursing-home.html">Monthly CarePlan Review</a></li>
                                <li><a href="nursing-home.html">Monthly staff Review</a></li>
                                <li><a href="nursing-home.html">Monthly Medication Review</a></li> 
                                <li><a href="nursing-home.html">Monthly Communication Log</a></li>
                                <li><a href="nursing-home.html">Quality Assurance Report</a></li>                       
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i class="icon-user-follow"></i><span>Human Resources</span> </a>
                            <ul>
                                <li><a href="nursing-home.html">Recruitment Matrix</a></li>
                                <li><a href="nursing-home.html">Staff Matrix</a></li>
                                <li><a href="nursing-home.html">Trainings</a></li>
                                <li><a href="nursing-home.html">Attendance</a></li>
                                <li><a href="nursing-home.html">Query</a></li>
                                <li><a href="nursing-home.html">Promotion</a></li> 
                                <li><a href="nursing-home.html">Appraisals</a></li>
                                <li><a href="nursing-home.html">Resignation</a></li>
                                <li><a href="nursing-home.html">Transfer/Duty Change</a></li>
                                <li><a href="nursing-home.html">Job Descriptions</a></li>
                                <li><a href="nursing-home.html">Meetings</a></li>                      
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="has-arrow"><i class="icon-user-follow"></i><span>News</span> </a>
                            <ul>
                                <li><a href="nursing-home.html">CQC</a></li>
                                <li><a href="nursing-home.html">Local Authorities</a></li>
                                <li><a href="nursing-home.html">General News</a></li>
                                <li><a href="nursing-home.html">Health News</a></li>                    
                            </ul>
                        </li>                                                   
                    </ul>
                </nav>
            </div>
            
            @*<div class="tab-content p-l-15 p-r-15" id="setting">
                <h6>Settings</h6>
                <ul>
                </ul>
                <hr>
                <h6>Choose Skin</h6>
                <ul class="choose-skin list-unstyled">
                    <li data-theme="purple">
                        <div class="purple"></div>
                        <span>Purple</span>
                    </li>
                    <li data-theme="blue">
                        <div class="blue"></div>
                        <span>Blue</span>
                    </li>

                    <li class="nav-item dropdown mega-menu">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-user-follow"></i> <span> Staff</span></a>
                        <div class="dropdown-menu mega-main padding-0 animated fadeIn">
                            <div class="row">
                                <div class="col-lg-2 col-lg-auto col-md-4 col-sm-4">
                                    <div class="mega-list">
                                        <ul class="list-unstyled">
                                            <li><label>Staff</label></li>
                                            <li><a asp-controller="User" asp-action="Index">All Users</a></li>
                                            <li><a asp-controller="Staff" asp-action="Index">All Staffs</a></li>
                                            <li><a asp-controller="Staff" asp-action="Communication">Communication</a></li>
                                            <li><a asp-route="CreateRota">Create Rota</a></li>
                                            <li><a asp-controller="StaffBlackList" asp-action="Index">Staff Blacklist</a></li>
                                            <li><a asp-controller="Communication" asp-action="Index">Communication</a></li>
                                            <li><a asp-controller="IncidentReporting" asp-action="Reports">Incident Reports</a></li>
                                            <li><a asp-controller="Investigation" asp-action="Index">Investigations</a></li>
                                            <li><a asp-controller="ShiftBooking" asp-action="CreateStaffShift">Create Shift</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-lg-auto col-md-4 col-sm-4">
                                    <div class="mega-list">
                                        <ul class="list-unstyled">
                                        </ul>
                                    </div>
                                </div>


                                <div class="col-lg-6 col-md-4 hidden-sm">
                                    <div class="img-box" style="background-image: url(../assets/images/menu-img/1.jpg)"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-theme="cyan" class="active">
                        <div class="cyan"></div>
                        <span>Cyan</span>
                    </li>
                    <li data-theme="green">
                        <div class="green"></div>
                        <span>Green</span>
                    </li>
                    <li data-theme="orange">
                        <div class="orange"></div>
                        <span>Orange</span>
                    </li>
                    <li data-theme="blush">
                        <div class="blush"></div>
                        <span>Blush</span>
                    </li>
                </ul>
                <hr>
            </div>*@
        </div>
    </div>
</div>
