@using IdentityServer4.Extensions;
@model List<IdentityServer4.EntityFramework.Entities.Client>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (User.IsAuthenticated() && User.IsInRole("SuperAdmin"))
{
    <h2>
        Clients
    </h2>
    <a asp-action="Registration" class="btn btn-primary pull-right" asp-controller="Client">Add Client</a>

    <br />
    <div class="table-responsive">
        <table class="table table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Description</th>
                    <th>Uri</th>
                    <th>IsEnabled</th>
                    <th>Created On</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model)
                {
                    <tr>
                        <td>@client.ClientName</td>
                        <td>@client.Description</td>
                        <td>@client.ClientUri</td>
                        <td>
                            @{
                                var isEnabled = client.Enabled ? "Yes" : "No";
                                @isEnabled
                            }
                        </td>
                        <td>@client.Created.ToString("dd-MMM-yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}



