@using AwesomeCare.Admin.ViewModels.CarePlan.InterestObjective;
@model List<CreateInterestAndObjective>
@{
    ViewData["Title"] = "Reports";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="header">
                <h2>All Interest And Objectives</h2>
            </div>
            <div class="body">
                <table class="table m-b-0 datatables">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Client</th>


                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Select((d, i) => new { index = i + 1, data = d }))
                        {
                            <tr>
                                <td>@item.index </td>
                                <td>@item.data.ClientName</td>


                                <td>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            @Html.ActionLink("Edit", "Index", "InterestAndObjective", new { clientId = item.data.ClientId }, new { @class = "dropdown-item" })
                                            @Html.ActionLink("View", "View", "InterestAndObjective", new { clientId = item.data.ClientId }, new { @class = "dropdown-item" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

