@using AwesomeCare.DataTransferObject.DTOs.Rotering;
@model List<LiveTracker>
@{
    ViewData["Title"] = "Client Invoice";
}
<form asp-action="Invoice" method="post">
    <div class="row">
        <div class="col-sm-6 col-xs-12 col-lg-6 col-md-6">
            <div class="row">

                <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                    <label>Select Client</label>
                    <select name="clientId" asp-items="@ViewBag.GetClients" class="selectpicker form-control" data-live-search="true"></select>
                </div>

            </div>
        </div>
        <div class="col-sm-6 col-xs-6 col-lg-6">
            <div class="row">
                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                    <label> Start Date</label>
                    <input type="text" id="startDate" name="startDate" class="form-control datepickerbeforeOrtoday" data-date-format="yyyy-mm-dd">
                </div>
                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                    <label> Stop Date</label>
                    <input type="text" id="stopDate" name="stopDate" class="form-control datepickerbeforeOrtoday" data-date-format="yyyy-mm-dd">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="btnInvoice">Search</button>
    </div>
    @*CSS*@
     <style>
            #c2{
                width: 50%;
                float: right;
                margin-bottom: 50px;
                height: 250px;
                text-align: end;
            }
            #c1{
                width: 50%;
                float: left;
                margin-bottom: 50px;
                height: 250px;
                
            }
            #c3{
                width: 100%;
            }
        </style>
    <div class"row"> 
        <div id="c1">
            <img src="Desktop/test.jpg">
            <h4 class="test2">Street Address</h4>
            <h4 class="test2">Company Address</h4>
            <h4 class="test2">Post Code</h4>
            <h4 class="test2">Tel</h4>
            <h4 class="test2">testemail@gmail.com</h4>
        </div>
        <div id="c2">
            <h2 class="test">INVOICE</h2>
            <h4 class="test">Date From To.</h4>
            <h4 class="test">Invoice#   1111</h4>
            <h4 class="test">For    PO # 123456</h4>
        </div>
        <div id="headingtest">
            <header >Bill To:</header>
        </div>
            <div id="c1">
            <h4>Customer Name</h4>
            <h4>Company Name</h4>
            <h4> City, ST ZIP Code</h4>
            <h4>(206) 555-1163</h4>  
        </div>
        <div id="c2">
            <h5>items over this amount quality for an</h5>
            <h5>additional discount     $100</h5>
            <h5>% discount      10%</h5>
        </div>

        <div id="c1">
            <p>Make all checks payable to Company Name.</p>
            <p>If you have any questions concerning this</p>
            <p>invoice,contact Name at phone or email.</p>
            <h4>Thank you for you business!</h4>
        </div>
        <div id="c2">
            <p>Credit   $ test</p>
            <p>Tax      99%</p>
            <p>Additional discount  12%</p>
            <p>Balance due  $ (992.20)</p>
        </div>
    </div>
    
</form>
<script src="~/assets2/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript">

</script>