@using AwesomeCare.Admin.ViewModels.Staff;
@model CreateSalaryDeduction
@{
    ViewData["Title"] = "Update Salary Deduction";
}
@section HeaderScripts{
    <link rel="stylesheet" href="../../../assets2/vendor/jquery-steps/jquery.steps.css">
    <link rel="stylesheet" href="../../../assets2/vendor/dropify/css/dropify.min.css">
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="card-header">

            </div>
            <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                            <input type="hidden" asp-for="SalaryDeductionId" />
                            <input type="hidden" asp-for="StaffPersonalInfoId" />
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Start Date</label>
                                        <input type="text" asp-for="StartDate" class="form-control" readonly />

                                        <span asp-validation-for="StartDate" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">End Date</label>
                                        <input type="text" asp-for="EndDate" class="form-control" readonly />
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Deduction Type</label>
                                        <baserecord asp-key="Salary_Deduction_Type" asp-for="AllowanceType" asp-items="null" />
                                        <span asp-validation-for="AllowanceType" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Reoccurent</label>
                                        <input type="text" asp-for="Reoccurent" class="form-control" readonly />
                                        <span asp-validation-for="Reoccurent" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Amount</label>
                                        <input type="text" asp-for="Amount" class="form-control" readonly />
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Percentage</label>
                                        <input type="text" asp-for="Percentage" class="form-control" readonly />
                                        <span asp-validation-for="Percentage" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
@section VendorScripts{
    <script src="../../../assets2/vendor/jquery-steps/jquery.steps.js"></script> <!-- JQuery Steps Plugin Js -->
    <script src="../../../assets2/vendor/dropify/js/dropify.min.js"></script>
    <script src="../../../assets2/bundles/mainscripts.bundle.js"></script>
}

@section Scripts{
    <script src="../../../assets2/js/pages/forms/form-wizard.js"></script>
    <script src="../../../assets2/js/pages/forms/dropify.js"></script>
    <script>
    $('.custom-select').attr("disabled", "disabled");
    </script>
}

